{% extends "base.html" %}
{% block t %}
<title> Online Compiler</title>
{% endblock %}

{% block heading %}
<h1>C Online Compiler</h1>
{% endblock %}

{% block css %}
<style>
    #c_input {
        width: 98%;
        height: 100px;
        margin-top: 10px;
        padding: 10px;
        font-family: monospace;
    }

    .btn {
        padding: 12px 18px;
        background: #4a6cf7;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 15px;
        white-space: nowrap;
    }

    .btn:hover {
        background: #3a57d0;
    }
</style>
{% endblock %}

{% block content %}
<form method="POST" action="/c">
    {% csrf_token %}
    <br>
    <label for="c_code">Write your code:</label>
    <textarea id="c_code" name="c_code" placeholder="Write your code here...">{{ c_code|default:'' }}</textarea>
    <br>
    <label for="c_input">Provide Input:</label>
    <textarea id="c_input" name="c_input" placeholder="Enter input for your code...">{{ c_input_data|default:'' }} </textarea>
    <br>
    <button type="submit">Run Code</button>
    <button type="submit" name="action" value="share" class="btn">Share Code</button>
</form>
{% if c_output %}
<div class="output">
    <h3>Output:</h3>
    <pre>{{ c_output }}</pre>
</div>
{% endif %}

<script>

    const codeEditor = CodeMirror.fromTextArea(document.getElementById("c_code"), {
        mode: "text/x-csrc",
        theme: "dracula",
        lineNumbers: true,
        indentUnit: 4,
        tabSize: 4,
        autoCloseBrackets: true,
        indentUnit: 4,
        smartIndent: true,
        matchBrackets: true,
        lineWrapping: true,         
        highlightSelectionMatches: true,
        cursorBlinkRate: 530,
        scrollbarStyle: "native",
        viewportMargin: Infinity, 
    });
    codeEditor.setSize("100%", "600px");

    document.querySelector("form").addEventListener("submit", (event) => {
        document.getElementById("c_code").value = codeEditor.getValue();
    });
</script>
{% endblock %}